pandas
streamlit
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
chainlit
ctransformers
torch --index-url https://download.pytorch.org/whl/cpu
huggingface_hub
together

